@model PMvc1.Models.CarModel

<h1>The Care View - Index</h1>

<div>
    @if(Model.Cname == null)
    {
        <p>it is wrong</p>
    }
    else
    {
        <p>it is sccessufl</p>
    }

   
</div>
    
   